:root[data-theme="light"] {
    --sl-color-white: #17181c;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #c0c2c7;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #fff;
    --sl-color-accent-low: #d4c9f2;
    --sl-color-accent: #febf00;
    --sl-color-accent-high: #182775;
}
